@import "../../../../brand-styles.scss";

.header {
    background-color: #5414B4;
    color: white;
    position: relative;
    .navbar-brand{
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    .brand-name {
        color: white;
        margin-left: 20px;
        text-transform: uppercase;
    }

    .nav-right {
        max-width: 220px;
        justify-content: space-between;

        .vertical-seperator {
            width: 1px;
            height: 30px;
            background-color: #ada2a2;
        }

        .profile-name {
            color: #ada2a2;
            font-weight: 600;
        }
       
        .profile-image {
            border-radius: 50%;
            width: 30px;
            height: 30px;
            margin-left: 5px;
            margin-right: 5px;
        }

        .help-wrapper {
            width: 100%;
            text-align: right;
            cursor: pointer;
        }
    }

}

.profile-info{
    cursor: pointer;
}

.logout{
    top: 45px;
    right: 25px;
    position: absolute;
    background: white;
    color: grey;
    width: 100px;
    height: 30px;
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 7px;
    cursor: pointer;
    p{
        margin: 0;
    }
}

.dashboard-section{
    border-bottom: 3px solid white;
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.container{

    &-dashboard{
        display: flex;
        align-items: center;
        gap: 10px;
        span{
            font-weight: 500;
            font-size: initial;
        }

        img{
            height: 20px;
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(158deg) brightness(107%) contrast(101%);
        }
    }
}

.left-header-container{
    display: flex;
    gap: 25px;
    .menu{
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: large;

        img{
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(158deg) brightness(107%) contrast(101%);
        }
    }
}