<div class="header">
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid">
            <div class="left-header-container">
                <div class="menu" (click)="openMenu = !openMenu">
                    <img [src]="openMenu ? '/assets/images/Close.svg' : 'assets/images/Hamburger-Menu.svg'" 
                    alt="Menu" height="22px" />
                    <span>Menu</span>
                </div>
                <div class="navbar-brand" (click)="onClickLogo()" tabindex="0">
                    <img src="assets/images/Logo.svg" alt="BT Logo" height="30px" />
                    <h4 class="brand-name">Enterprise Cloud</h4>
                </div>
            </div>
           
            <div class="dashboard-section">
                <div class="container-dashboard">
                    <img src="assets/images/Dashboard.svg" alt="BT Logo" />
                    <span>Dashboard</span>
                </div>

            </div>
            <button  class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse nav-right" id="navbarScroll">
                <ng-template [ngIf]="isLoggedIn" [ngIfElse]="defaultRightHeader">
                    <div class="searchHeader">
                        <img src="assets/images/Search.svg" alt="search" style="filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(207deg) brightness(103%) contrast(103%);" height="15px" />
                        
                    </div>
                    <div class="notificationWrapper">
                        <img src="assets/images/bell.svg" alt="search" height="15px" style="filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(207deg) brightness(103%) contrast(103%);" height="15px"/>
                    </div>
                    <div class="vertical-seperator"></div>
                    <div class="profile-info d-flex float-right align-items-center"  (click)="logoutBool = !logoutBool" >
                        <div class="profile-name">{{boatId}}</div>
                        <img src="assets/images/user-profile.svg" height="30px" class="profile-image"
                            alt="Profile Default Image" />
                        <img src="assets/images/chevron-down.svg" alt="search" style="filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(207deg) brightness(103%) contrast(103%);" height="15px" />
                        
                    </div>
                    <div *ngIf="logoutBool" class="logout" 
                        (click)="onLogoutClick()" >
                        <img src="assets/images/sign-out.svg" alt="search" height="15px" />
                        
                        <p>LogOut</p>
                    </div>
                </ng-template>
                <ng-template #defaultRightHeader>
                    <div class="help-wrapper">
                        <div class="label">
                            Help 
                            <img src="assets/images/question-circle.svg" style="filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(207deg) brightness(103%) contrast(103%);" alt="BT Logo" height="15px" />
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </nav>

    <div *ngIf="openMenu" class="menu-dropdown">
        <div class="container-menu-item">
            <div class="menu-item">
                <p (click)="changeMenu('operation')" [ngStyle]="{'color': selectedMenu == 'operation' ? '#5414B4' : 'black'}">Operation View</p>
            </div>
            <div class="menu-item">
                <p (click)="changeMenu('csoc')" [ngStyle]="{'color': selectedMenu == 'csoc' ? '#5414B4' : 'black'}">
                    CSOC View
                </p>
            </div>
            <div class="menu-item">
                <img src="assets/images/Administrator.svg"  alt="BT Logo" height="20px" [ngStyle]="{'filter': selectedMenu == 'admin' ? 'invert(20%) sepia(40%) saturate(7488%) hue-rotate(261deg) brightness(68%) contrast(112%)' : ''}" />
                <p (click)="changeMenu('admin')" [ngStyle]="{'color': selectedMenu == 'admin' ? '#5414B4' : 'black'}">
                    Administration
                </p>
            </div>
        </div>
    </div>
</div>