@import "../../../../brand-styles.scss";

.dropDownWrapper {
    position: relative;
    height: 2.3rem;
    display: flex;
    align-items: center;
    .drop-down-selected-wrapper {
        padding: 2px 20px;
        border: 1px solid $color;
        border-radius: 5px;
        height: 2.3rem;
        display: flex;
        align-items: center;
    }

    .drop-down-selected {
        display: flex;
        position: relative;
        align-items: center;
        cursor: pointer;

        .selected-text {
            cursor: pointer;
            border: none;
            padding: 10px;
            background-color: transparent;
            width: 100%;
            color: black;
        }
        .selected-text.default {
            color: lightgray;
        }

        .selected-text:focus-visible {
            outline: none;
        }

        .arrow-controller {
            .arrow {
                color: $color;
                transition-duration: 200ms;
            }
            .arrow.rotate {
                transform: rotate(180deg);
                transition-duration: 200ms;
            }
        }
    }

    .options-wrapper {
        position: absolute;
        width: 100%;
        background: white;
        border: 1px solid lightgray;
        border-radius: 5px;
        z-index: 10000;
        height: 250px;
        overflow-y: auto;
        overflow-x: hidden;
        top: 50%;
        margin-top: 1em;

        .option {
            padding: 10px;
            cursor: pointer;
            color: black;
        }

        .option.disabled {
            color: lightgray;
            cursor: default;
        }

        .option.disabled:hover {
            background-color: unset;
        }

        .option:hover {
            background-color: lightgray;
        }
    }


}