<svg:g [attr.transform]="'translate(' + node?.x + ',' + node?.y + ')'" height="20px" width="20px" class='{{"node-wrapper "+ node?.id + " "+ getState(node)}}' (mouseenter)="highlightLinks(node, true)" (mouseleave)="highlightLinks(node, false)" (click)="onmouseenter($event, node)">
    <svg:g class="node-group">
        <!-- <svg:circle
          [attr.id]="'circle_' + node?.id"
          class="node"
          [attr.fill]="node?.color"
          cx="0"
          cy="0"
          [attr.r]="12"
          [attr.stroke-width]="10"
          (mouseenter)="onmouseover($event, node)"
          (mouseleave)="onmouseleave($event, node)"
          > -->

          <svg:circle
          [attr.id]="'circle_' + node?.id"
          class="radialImgBorder" 
          [attr.fill]="node?.color"
          cx="0"
          cy="0"
          [attr.r]="2"
          [attr.stroke-width]="8"
          (mouseenter)="onmouseover($event, node)"
          (mouseleave)="onmouseleave($event, node)"
          >
      </svg:circle> 
     <svg:image #imageRef [attr.id]="'nodeimg_' + node?.id" [attr.xlink:href]='getImg(node)' class="nodeImg" (mouseenter)="onmouseover($event, node)"
     (mouseleave)="onmouseleave($event, node)"> </svg:image>
     <title>{{getNodeHoverInfo(node)}}</title>
    </svg:g>
    <!-- <svg:text class="node-name" [attr.font-size]="node?.fontSize">
        {{node?.name}}
    </svg:text> -->
</svg:g>