<svg:g [attr.transform]="'translate(' + node?.x + ',' + node?.y + ')'" height="20px" width="20px" class='{{"node-wrapper "+ node?.id + " "+ getState(node)}}' (mouseenter)="highlightLinks(node, true)" (mouseleave)="highlightLinks(node, false)">
    <svg:g class="node-group">
        <svg:circle
          class="node"
          [attr.fill]="node?.color"
          cx="0"
          cy="0"
          [attr.r]="6"
          [attr.stroke-width]="0.5"
          >
      </svg:circle> 
     <svg:image #imageRef [attr.xlink:href]='getImg(node)' class="nodeImg"> </svg:image>
     <title>{{getNodeHoverInfo(node)}}</title>
    </svg:g>
    <!-- <svg:text class="node-name" [attr.font-size]="node?.fontSize">
        {{node?.name}}
    </svg:text> -->
</svg:g>