.node-wrapper {
  .node {
      cursor: pointer;
      transition: stroke-width 0.1s ease-out,
          fill 0.1s ease-out,
          stroke 0.1s ease-out;
  
      stroke: #5414B4;
      stroke-width: 0.25;
      fill: white;
  }
  
  .node-name {
    font-family: 'Lato';
    text-anchor: middle;
    font-weight: 300;
    fill: unset;
    transform: translate(0px, 5px);
    font-size: 2px;
  }
  
  .nodeImg {
    height: 6px;
    width: 6px;
    transform: translate(-3px, -3px);
    fill:green;
  }  

  .nodeImg:hover {
    height: 7px;
    width: 7px;
    transform: translate(-3.5px, -3.5px);
  }

  // .nodeImg:hover {
  //   fill:green;
  // }  

  // .node:hover {
  //   stroke: white;
  //   stroke-width: 0;
  //   fill: #8C5BD8;
  // }
//   invert(100%) sepia(0%) saturate(0%) hue-rotate(158deg) brightness(107%) contrast(101%);
}
.selected {
  image {
    filter: invert(92%) sepia(2%) saturate(0%) hue-rotate(64deg) brightness(92%) contrast(89%);
    color: #cfcfcf;
  }  
}
.normal {
  image {
    filter: invert(13%) sepia(88%) saturate(6133%) hue-rotate(266deg) brightness(70%) contrast(102%);
    color: #5414B4;
  }  
}
.node-group:hover {
  transform: scale(1.2);
}
.normal:hover {
  image {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(158deg) brightness(107%) contrast(101%);
    color: white;
  }  
  .node {
    filter: drop-shadow(0px 0px 3px rgb(84 20 180 / 0.6));
    fill:#5414B4;
  }
}

.up {
  image {
    filter: invert(25%) sepia(96%) saturate(5917%) hue-rotate(355deg) brightness(96%) contrast(122%);
  }
  .node {
    stroke:#ff0000;
  }  
}

.up:hover {
  image {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(158deg) brightness(107%) contrast(101%);
  }
  .node {
    filter: drop-shadow(0px 0px 3px rgb(255 0 0 / 0.6));
    fill:#ff0000;
  }  
}

.down {
  image {
    filter: invert(53%) sepia(84%) saturate(2553%) hue-rotate(83deg) brightness(120%) contrast(121%);
  }  
  .node {
    stroke:#00ff00;
  } 
}

.down:hover {
  image {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(158deg) brightness(107%) contrast(101%);
  }
  .node {
    filter: drop-shadow(0px 0px 3px rgb(0 255 0 / 0.6));
    fill:#00ff00;
  }  
}

.orange {
  image {
    filter: invert(66%) sepia(49%) saturate(3020%) hue-rotate(0deg) brightness(104%) contrast(106%);
  }  
  .node {
    stroke: orange;
  } 
}

.orange:hover {
  image {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(158deg) brightness(107%) contrast(101%);
  }
  .node {
    filter: drop-shadow(0px 0px 3px rgb(255 165 0 / 0.6));
    fill: orange;
  }  
}

.yellow {
  image {
    filter: invert(84%) sepia(50%) saturate(1074%) hue-rotate(6deg) brightness(110%) contrast(104%);
  }  
  .node {
    stroke: yellow;
  } 
}

.yellow:hover {
  image {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(158deg) brightness(107%) contrast(101%);
  }
  .node {
    filter: drop-shadow(0px 0px 3px rgb(255 255 254 / 0.6));
    fill: yellow;
  }  
}

.blue {
  image {
    filter: invert(8%) sepia(100%) saturate(7447%) hue-rotate(248deg) brightness(99%) contrast(143%);
  }  
  .node {
    stroke:#0000FF;
  } 
}

.blue:hover {
  image {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(158deg) brightness(107%) contrast(101%);
  }
  .node {
    filter: drop-shadow(0px 0px 3px rgb(0 0 255 / 0.6));
    fill: blue;
  }  
}
// .node-wrapper:hover {
  
// }