.network-graph-wrapper {

    overflow: hidden;
    height: 100%;
    position: relative;
    
    .legendWrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 2px;
        padding-left: 10px;
        font-weight: 500;
    }

    .legend {
        display: flex;
        align-items: center;
        padding: 8px 7px;
    }

    .legend .legendImage {
        height: 20px;
        margin-right: 3px;
        filter: invert(60%) sepia(90%) saturate(6103%) hue-rotate(253deg) brightness(78%) contrast(92%);
        color: #8840c2;
    }
}

.controllers-arrow{
    left: 5px;
}

.controllers-zoom{
    right: 5px;
}

.controllers-arrow, .controllers-zoom{
    width: 150px;
    height: 100px; 
    position: absolute;
    top: 545px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.first-row, .second-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.controller-btn{
    width: 40px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        height: 30px;
    }
}