.network-graph-wrapper {

    overflow: hidden;
    height: 100%;
    position: relative;
    
    .legendWrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 2px;
        padding-left: 10px;
        font-weight: 500;
    }

    .legend {
        display: flex;
        align-items: center;
        padding: 8px 7px;
    }

    .legend .legendImage {
        height: 20px;
        margin-right: 3px;
        filter: invert(13%) sepia(88%) saturate(6133%) hue-rotate(266deg) brightness(70%) contrast(102%);
        color: #5414B4;
    }
}
