<div class="network-graph-wrapper">
    <ng-template [ngIf]="isLoading" [ngIfElse]="loadGraph">
        <p>Loading...</p>
    </ng-template>
    
    <ng-template #loadGraph>
    
        <!-- Start: Display For Legends -->
        <div class="legendWrapper" *ngIf="legends.length > 0">
            <div class="legend" *ngFor="let legend of legends">
                <img class="legendImage" [src]="legend.image" [alt]="legend.name" />
                <div class="legendName">{{legend.name}}</div>
                <div class="legendName">({{legend.count}})</div>
            </div>
        </div>
        <!-- End: Display For Legends -->
        <app-graph [nodes]="nodes" [links]="links"></app-graph>
    </ng-template>

    <div class="controllers-arrow">
        <div class="first-row">
            <div class="controller-btn"><img src="/assets/images/Top.svg" alt=""></div>
        </div>
        <div class="second-row">
            <div class="controller-btn"><img src="/assets/images/Left.svg" alt=""></div>
            <div class="controller-btn"><img src="/assets/images/Bottom.svg" alt=""></div>
            <div class="controller-btn"><img src="/assets/images/Right.svg" alt=""></div>
        </div>
    </div>

    <div class="controllers-zoom">
        <div class="first-row">
            <div class="controller-btn"><img src="/assets/images/Expand-01.svg" alt=""></div>
        </div>
        <div class="second-row">
            <div class="controller-btn"><img src="/assets/images/Zoom-in.svg" alt=""></div>
            <div class="controller-btn"><img src="/assets/images/Zoom-out.svg" alt=""></div>
            <div class="controller-btn"><img style=" transform: rotate(180deg); " src="/assets/images/Expamd-02.svg" alt=""></div>
        </div>
    </div>
</div>