@import "../../../../brand-styles.scss";

.data-list-wrapper {
    .data-list-inp{
        width: 228.5px;
        border-color: $color;
        background-color: transparent;
        height: 30px;
        padding-left: 30px;
    }

    .data-list-inp:focus {
        box-shadow: none;
        border-color: $color;
    }
    .data-list-inp::-webkit-calendar-picker-indicator {
        color: $color;
    }
}