<div class="welcome-page-wrapper" >
    <div class="login-header">
                    <nav class="navbar navbar-expand-lg navbar-light " style= "background-color: transparent;">
                        <div class="container-fluid">
                            <a class="navbar-brand" routerLink="">
                                <!-- <img src="assets/images/Logo.svg" alt="BT Logo" height="30px" /> -->
                                <img src="assets/images/Logo_name.svg" alt="Logo Name" height="30px" />
                                <!-- <span class="brand-name">Enterprise Cloud</span> -->
                            </a>
                            <div class="collapse navbar-collapse nav-right" id="navbarScroll">   
                                    <div class="help-wrapper">
                                        <div class="label">
                                            Help 
                                            <i class="fa fa-question-circle" aria-hidden="true"></i>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </nav>
    </div>
    <div class="welcome-page-inp-controllers">
        <img src="assets/images/NC Icon.svg" alt="Network Cloud Image" class="welcome-page-img"/>
        <div class="label-text">
            Enterprise Cloud experience monitoring tool to display Alarms, Inventory and Traffic.
        </div>
        <input type="button" class="enter-button" id="enter" value="Enter" (click)="onEnterClick()" />
        <div class="help-wrapper">
            <div class="label-text privacy-text">
                Privacy Policy &nbsp; &nbsp; &nbsp; &nbsp; Terms & Conditions              
            </div>
        </div>
    </div>   
</div>