.scroll-container {
  position: relative;
  background-color: #fff;
  
}

.scroll-containe::ng-deep .link:hover{
  opacity: 1;

}

.scroll-containe::ng-deep .node:hover, .scroll-containe::ng-deep .dropout-node {
  cursor: pointer;
}

      
  
  
#sankey{
  overflow: visible;
  min-height: 293px;
  height: 100vh;
}

.sankey-wrapper {
  
  overflow: hidden;
  height: 100%;
}