.legendWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 2px;
    padding-left: 10px;
    font-weight: 500;
    z-index: 5;
    flex-flow: wrap;
    .legend {
      display: flex;
      align-items: center;
      padding: 8px 7px;
      .legendColorImage {
        height: 15px;
        margin-right: 3px;
        width: 15px;
        border-radius: 2px;
      }
      .legendCheckbox {
        margin-right: 10px;
      }
      .legendImage {
        height: 20px;
        margin-right: 3px;
        filter: invert(13%) sepia(88%) saturate(6133%) hue-rotate(266deg) brightness(70%) contrast(102%);
        color: #5414B4;
    }
    }
  }

  :host ::ng-deep {
    .mat-checkbox-inner-container {
      border-radius: 50%;
    }
  
    .mat-checkbox-background,
      .mat-checkbox-frame {
        border-radius: 70% !important;
        border: 1px solid #777777;
      }
    
  
    .mat-checkbox-checked.mat-accent
      .mat-checkbox-background,
    .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
      background-color: #5414B4;
    }
  
    .mat-checkbox-checked.mat-accent
      .mat-checkbox-ripple
      .mat-ripple-element {
      background-color: #5414B4 !important;
    }
  
    
    .mat-checkbox-background,
      .mat-checkbox-frame:checked {
        border: none;
      }
    
  
    .mat-checkbox-layout{margin-bottom: 0;}
  }