$default-white: #fff;
$bt-black: #000000;
$bt-dark-grey:#2C2C2C;
$bt-blue:#5514b4;
$bt-light-purple:#8840c2;
$bt-purple:#6400aa;
$bt-light-pink:#f1c8d0;
$bt-medium-grey:#A8A8A9;
$bt-light-grey:#f4f4f4;
$bt-error:#E03616;
$bt-error-bg:rgba(224, 54, 22, 0.05);
$bt-cyan:#05998a;
$bt-yellow:#F9C80E;
$bt-dark-yellow:#BA950A;
$bt-bg-grey: #f7f7f7;
$bt-darker-grey: #8b8b8c;
$bt-lighter-grey:#e2e2e2;
$excel-green: #008000;
$bt-light-green: #51CB20;
$disabled-grey:#6f6f70;
$default-blue:#357DED;
$bt-dark-blue:#28045B;
$white-smoke:#F0F0F0;
$jordy-blue:rgba(154, 190, 246, 0.25);
$comet-grey: #6F6F70;
// $bt-blue-shadow:#5514b4eb;
$bt-blue-shadow:rgba(85, 20, 180, 0.9215686274509803);
$bt-exclamation:#d54b09;
$bt-dark-pink: #bf5fbf;
$bt-notif-bg-color :#E0F8FC;