<div class="tabDetailsWrapper">
    <div class="tab-header">
        <div class="dashboard">
            <p>
            Topology View
            </p>
        </div>
        <div class="signals">
            <!-- <div class="up">
                <div class="up-label"></div>
                <div class="up-text">Up</div>
            </div>
            <div class="down">
                <div class="down-label"></div>
                <div class="down-text">Down</div>
            </div> -->
        </div>
    </div>

    <div class="tab-body-wrapper">
        <!-- Graph Start -->
        <div class="graphs-wrapper" #graphsWrapper>

            <div class="graph-header">
                <div class="graph-name">{{'Topology'}}</div>

                <div class="graph-header-controls">
                    <div class="search-wrapper">
                        <app-drop-down [dropDownList]="deviceTypes" [placeHolderText]="'Select Device Type'"
                            (onChange)="onDeviceTypeChange($event)">
                        </app-drop-down>
                        <app-data-list [dataList]="deviceNames" (onChange)="onDeviceNameChange($event)"
                            [placeHolderText]="'Search for Devices'"></app-data-list>
                        <div class="search {{!!this.selectedDeviceType && !!this.selectedDeviceNames?'active':''}}"
                            (click)="!!this.selectedDeviceType && !!this.selectedDeviceNames && searchSelectedDevice()">
                            <i class="fas fa-lg fa-search search-icon"></i>
                        </div>
                    </div>
                  
                    <div class="container-right-side-btns">
                        <div class="refresh-wrapper">
                            <div class="refresh" (click)="updateGraphData()">
                                <img  src="assets/images/Refresh.svg"
                                    style="width: 20px;height: 20px; border: none; color: blueviolet; filter: invert(9%) sepia(88%) saturate(6634%) hue-rotate(268deg) brightness(89%) contrast(93%);" />
                            </div>
                        </div>
                        <div class="count-wrapper">
                            <div class="plus"> <i class="fas fa-minus"></i> </div>
                            <input type="number" value="1" class="number-inp" />
                            <div class="minus"> <i class="fas fa-plus"></i> </div>
                            <!-- <div class="search">
                                <i class="fas fa-search search-icon"></i>
                            </div> -->
                        </div>
                        <div class="switchWrapper">
                            <!-- <i class="fas fa-cog" ></i> -->
                            <div
                            class="gear-icon">
                                <img (click)="toggleGraphSettings =!toggleGraphSettings"
                                    src="assets/images/Settings.svg"
                                    style="width: 20px;height: 20px; border: none; color: blueviolet; filter: invert(9%) sepia(88%) saturate(6634%) hue-rotate(268deg) brightness(89%) contrast(93%);" />
                            </div>
                            <div class="selectGraphTypeWrapper graph-settings-dropdown" *ngIf="toggleGraphSettings">
                                <div class="selectGraphTypeHeadder">
                                    <div class="graphSettingsWrapper">
                                        <div class="graphSettings">Graph Settings</div>
                                        <button class="close"
                                            (click)="toggleGraphSettings =!toggleGraphSettings">&times;</button>
                                    </div>
                                </div>
                                <div class="graphTypeOptions">
                                    <div class="layout">Layout: </div>
                                    <div class="graph
