<div class="tabDetailsWrapper">
    <div class="tab-header">
        <div id="topologyViewTab" class="dashboard active" (click)="onTopologyViewTabClick()">
            <span>
            Topology View
            </span>
        </div>
        <div *ngFor="let tab of nodetabs">
            <div [id]="tab.tabid" class="dashboard" (click)="nodeTabClick(tab)">
                <span>
                {{tab.tabName}}
                </span>
                <span class="cross-mark">&times;</span>
            </div>
        </div>
        <div class="signals">
            <!-- <div class="up">
                <div class="up-label"></div>
                <div class="up-text">Up</div>
            </div>
            <div class="down">
                <div class="down-label"></div>
                <div class="down-text">Down</div>
            </div> -->
        </div>
    </div>

    <div class="tab-body-wrapper" [ngStyle]="{'display': displayTabComp == 'native' ? 'flex' : 'block'}">
        <!-- Graph Start -->
        <div class="graphs-wrapper" #graphsWrapper *ngIf="displayTabComp == 'native'">

            <div class="graph-header">
                <div class="graph-name">{{'Topology'}}</div>

                <div class="graph-header-controls">
                    <div class="search-wrapper">
                        <app-drop-down [dropDownList]="deviceTypes" [placeHolderText]="'Select Device Type'"
                            (onChange)="onDeviceTypeChange($event)">
                        </app-drop-down>
                        <!-- <app-data-list [dataList]="deviceNames" (onChange)="onDeviceNameChange($event)"
                            [placeHolderText]="'Search for Devices'"></app-data-list> -->
                        <div class="search {{!!this.selectedDeviceType && !!this.selectedDeviceNames?'active':''}}"
                            (click)="!!this.selectedDeviceType && !!this.selectedDeviceNames && searchSelectedDevice()"
                            >
                            <i class="fas fa-lg fa-search search-icon"></i>
                        </div>
                    </div>
                  
                    <div class="container-right-side-btns">
                        <div class="refresh-wrapper">
                            <div class="refresh" (click)="updateGraphData()">
                                <img  src="assets/images/Refresh.svg"
                                    style="width: 20px;height: 20px; border: none; color: blueviolet; filter: invert(9%) sepia(88%) saturate(6634%) hue-rotate(268deg) brightness(89%) contrast(93%);" />
                            </div>
                        </div>
                        <div class="count-wrapper">
                            <div class="plus"> <i class="fas fa-minus"></i> </div>
                            <input type="number" value="1" class="number-inp" />
                            <div class="minus"> <i class="fas fa-plus"></i> </div>
                            <!-- <div class="search">
                                <i class="fas fa-search search-icon"></i>
                            </div> -->
                        </div>
                        <div class="switchWrapper">
                            <!-- <i class="fas fa-cog" ></i> -->
                            <div
                            class="gear-icon">
                                <img (click)="toggleGraphSettings =!toggleGraphSettings"
                                    src="assets/images/Settings.svg"
                                    style="width: 20px;height: 20px; border: none; color: blueviolet; filter: invert(9%) sepia(88%) saturate(6634%) hue-rotate(268deg) brightness(89%) contrast(93%);" />
                            </div>
                            <div class="selectGraphTypeWrapper graph-settings-dropdown" *ngIf="toggleGraphSettings">
                                <div class="selectGraphTypeHeadder">
                                    <div class="graphSettingsWrapper">
                                        <div class="graphSettings">Graph Settings</div>
                                        <button class="close"
                                            (click)="toggleGraphSettings =!toggleGraphSettings">&times;</button>
                                    </div>
                                </div>
                                <div class="graphTypeOptions">
                                    <div class="layout">Layout: </div>
                                    <div class="graph">
                                        <label class="graphTypeLabel"><input type="radio" name="graphType"
                                                (change)="toggleGraphSettings =!toggleGraphSettings" value="radial-view"
                                                [(ngModel)]="graphToLoad" class="graphTypeInp" /> Radial
                                            View</label>
                                    </div>
                                    <div class="graph">
                                        <label class="graphTypeLabel"><input type="radio" name="graphType"
                                                (change)="toggleGraphSettings =!toggleGraphSettings" value="sankey_graph"
                                                [(ngModel)]="graphToLoad" class="graphTypeInp" />
                                            Sankey Graph</label>
                                    </div>
                                    <div class="graph">
                                        <label class="graphTypeLabel"><input type="radio" name="graphType" value="hive"
                                                (change)="toggleGraphSettings =!toggleGraphSettings"
                                                [(ngModel)]="graphToLoad" class="graphTypeInp" /> Hive </label>
                                    </div>
                                </div>
                                <!-- <div class="selectGraphTypeFooter">
                                    <input type="button" value="submit" value="Apply" class="applyBtn" (click)="onGraphTypeChangeApply()" />
                                </div> -->
                            </div>
                        </div>
    
                        <!-- <div class="expand-wrapper">
                            <div class="expand">
                                <i class="fas fa-expand-alt"></i>
                            </div>
                        </div> -->
                        <div
                        class="expand-icon"
                        (click)="expandSection('Topology')"
                               >
                                <img 
                                *ngIf = "expandTopologyBool"
                                    src="assets/images/expand.svg"
                                    style="width: 20px;height: 20px; border: none; color: blueviolet; filter: invert(9%) sepia(88%) saturate(6634%) hue-rotate(268deg) brightness(89%) contrast(93%);" />
                                <img 
                                *ngIf = "!expandTopologyBool"
                                    src="assets/images/Collapse.svg"
                                    style="width: 20px;height: 20px; border: none; color: blueviolet; filter: invert(9%) sepia(88%) saturate(6634%) hue-rotate(268deg) brightness(89%) contrast(93%);" />
                            </div>
                    </div>
                    
                </div>
            </div>
            <!-- if data loading -->
            <div class="graph-body" *ngIf="!showGraph">
                <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only"></span>
                </div>
                </div>
              
            </div>
            <div id="graphBody" class="graph-body" *ngIf="showGraph && graphData">
                <app-graph-legend style="z-index: 5;"></app-graph-legend>
                <ng-template [ngIf]="graphToLoad == 'sankey_graph'">
                    <app-sankey-graph [graphData]="graphData"></app-sankey-graph>
                </ng-template>

                <ng-template [ngIf]="graphToLoad == 'radial-view'">
                    <app-network-graph [graphData]="graphData"></app-network-graph>
                </ng-template>

                <ng-template [ngIf]="graphToLoad == 'hive'">
                    <p>Hive work in progres!</p>
                </ng-template>

                <div class="controllers-arrow">
                    <div class="first-row">
                        <div class="controller-btn"><img src="/assets/images/Top.svg" alt="" (click)="PanGraph('UP')" title="Pan Up"></div>
                    </div>
                    <div class="second-row">
                        <div class="controller-btn"><img src="/assets/images/Left.svg" alt="" (click)="PanGraph('LEFT')" title="Pan Left"></div>
                        <div class="controller-btn"><img style=" transform: rotate(180deg);" src="/assets/images/Top.svg" alt="" (click)="PanGraph('DOWN')" title="Pan Down"></div>
                        <div class="controller-btn"><img src="/assets/images/Right.svg" alt="" (click)="PanGraph('RIGHT')" title="Pan Right"></div>
                    </div>
                </div>
            
                <div class="controllers-zoom">
                    <div class="first-row">
                        <div class="controller-btn"><img [src]="isFullScreen() ? '/assets/images/collapse-full-screen.svg' : '/assets/images/Expand-01.svg'" alt="" (click)="ExpandGraph()" title="{{isFullScreen()?'Exit Full Screen':'Full Screen'}}"></div>
                        <div class="controller-btn"><img src="/assets/images/Zoom-in.svg" alt="" (click)="ZoomInGraph()" title="Zoom In"></div>
                    </div>
                    <div class="second-row">
                    
                        <div class="controller-btn"><img src="/assets/images/Zoom-out.svg" alt="" (click)="ZoomOutGraph()" title="Zoom Out"></div>
                        <div class="controller-btn"><img style=" transform: rotate(180deg); " src="/assets/images/Expamd-02.svg" alt="" (click)="ResetGraph()" title="Reset"></div>
                    </div>
                </div>
                <div #nodeInfo id="node-popup" (blur)="onPopUpOut()" tabindex="22">
                    <span class="dismiss-popup" (click)="onPopUpOut()">x</span>
                    <div class="popup-properties-section">
                        <h6 class="node-properties" style="margin-top: 10px;"><div class="property-name">Name : </div><div class="property-value">{{ this.nodeInfoPopUp.Name }}</div></h6>
                        <h6 class="node-properties"> <div class="property-name">Type : </div> <div class="property-value">{{ this.nodeInfoPopUp.Type }}</div></h6>
                        <h6 class="node-properties"> <div class="property-name">IP : </div> <div class="property-value">{{ this.nodeInfoPopUp.Ip }}</div></h6>
                        <h6 class="node-properties"> <div class="property-name">DC : </div> <div class="property-value">{{ this.nodeInfoPopUp.DC }}</div></h6>
                        <!-- <h6 class="node-properties" style="border-bottom: 1px solid lightgrey"> Severity:  </h6> -->
                    </div>
                    <hr/>
                    <div class="popup-icon-section">
                        <img [ngClass]="inventoryFlag?'popup-icon pointer-csr':'popup-icon not-allowed-csr'" (click)="inventoryClick()" src="assets/images/Inventory.svg"/>
                        <img [ngClass]="alarmFlag?'popup-icon pointer-csr':'popup-icon not-allowed-csr'" src="assets/images/Alarm.svg"/> 
                        <img [ngClass]="reportFlag?'popup-icon pointer-csr':'popup-icon not-allowed-csr'" src="assets/images/Graph.svg"/> 
                        <img [ngClass]="logFlag?'popup-icon pointer-csr':'popup-icon not-allowed-csr'" src="assets/images/Traffic.svg" /> 
                    </div>
                </div>
            </div>
        </div>
        <!-- Graph End -->

        <!-- Alarms Start -->
        <div class="alarms-wrapper" #alarmsWrapper *ngIf="displayTabComp == 'native'">
            <div>
                <div class="alarms-header">
                    <div class="alarms-name">{{'Alarms'}}</div>
    
                    <div class="alarms-search">
                        <!-- <app-data-list [dataList]="deviceNames" (onChange)="onDeviceNameChange($event)"
                        [placeHolderText]="'Search for Devices'"></app-data-list> -->
                        <input class="form-control data-list-inp" list="alarmlistOptions" id="exampleDataList" [value]="selectedValue" (change)="onSelectData($event)" placeholder="{{placeHolderText}}">
                        <datalist id="alarmlistOptions">
                            <option *ngFor="let option of alarmsOptions" [value]="option.entityname">
                        </datalist>
                        <div class="search {{!!this.selectedDeviceType && !!this.selectedDeviceNames?'active':''}}"
                            (click)="!!this.selectedDeviceType && !!this.selectedDeviceNames && searchSelectedDevice()">
                            <i class="fas fa-lg fa-search search-icon"></i>
                        </div>
                    </div>
                    <div class="alarms-header-controls">
                        <!-- <div class="filters">
                            <i class="far fa-filter"></i>
                            <span>Filters</span>
                        </div> -->
    
                        <div class="exportCSV">
                            <img class="not-allowed-csr" src="assets/images/download.svg" />
                        </div>
    
                        <!-- <div class="expand-wrapper">
                            <div class="expand">
                                <i class="fas fa-expand-alt"></i>
                            </div>
                        </div> -->
                        <div
                        class="expand-icon"
                        (click)="expandSection('Alarms')"
                        >
                        <img 
                            *ngIf = "expandAlarmsBool"
                            src="assets/images/expand.svg"
                            style="width: 20px;height: 20px; border: none; color: blueviolet; filter: invert(9%) sepia(88%) saturate(6634%) hue-rotate(268deg) brightness(89%) contrast(93%);" />
                        <img 
                            *ngIf = "!expandAlarmsBool"
                                src="assets/images/Collapse.svg"
                                style="width: 20px;height: 20px; border: none; color: blueviolet; filter: invert(9%) sepia(88%) saturate(6634%) hue-rotate(268deg) brightness(89%) contrast(93%);" />
                    </div>
                    </div>
                </div>
                <div class="alarms-body">
                    <app-table-default [tableData]="alarms" [columsArray]="alarmsTableColumns" [expandAlarmsBool]="expandAlarmsBool"></app-table-default>
                </div>
            </div>
          
            <div class="container-entity-service">
                <div style="box-shadow: 0px 2px 8px 0px lightgrey;">
                    <div class="header-insights">
                        <p>Insights</p>
                    </div>
                    
                    <div class="entity-container">
                        <div class="entity-divs">
                            <p class="entity-label">TOTAL NO. OF DEVICES</p>
                            <p class="entity-value txt-yellow">{{insights.deviceCount}}</p>
                           
                        </div>
                        <div class="entity-divs">   
                            <p class="entity-label">TOTAL NO. OF ALARMS</p>
                            <p class="entity-value txt-red">{{insights.alarmCount}}</p>
                           
                        </div>
                        <div class="entity-divs">  
                            <p class="entity-label">IMPACTED DEVICES</p> 
                            <p class="entity-value txt-green">{{insights.alarmDeviceCount}}</p>
                          
                        </div>
                    </div>
                </div>
         
               

            </div>  
            <!-- <div class="alarms-body">
                <app-table-default ></app-table-default>
            </div>         -->
        </div>
        <!-- Alarms End -->
        <ng-container  *ngIf="displayTabComp != 'native'">
            <div *ngFor="let tab of nodetabs">
                <div #inventoryWrapper *ngIf="isNodeTabVisible(tab)" class="node-tabs">
                    <div [id]="tab.id" >
                    <div class="container-node-options">
                        <div id="nodeInventoryBtn" (click)="changeNodeOptions('inventory')" class="node-options" [ngClass]="{'node-select': nodeOptions == 'inventory'}">
                            <img [src]="nodeOptions == 'inventory' ? 'assets/images/Inventory-select.svg' : 'assets/images/Inventory.svg'"/>
                            <label *ngIf="nodeOptions == 'inventory'" class="node-label" style="color: white;">Inventory</label>
                        </div>
                        <div (click)="changeNodeOptions('alarms')" class="node-options" [ngClass]="{'node-select': nodeOptions == 'alarms'}">
                            <img  src="assets/images/Alarm.svg" style="color: red"/>
                            <label *ngIf="nodeOptions == 'alarms'" class="node-label" style="color: white;">Alarms</label>
                        </div>
                        <div (click)="changeNodeOptions('graph')" class="node-options" [ngClass]="{'node-select': nodeOptions == 'graph'}">
                            <img  src="assets/images/Graph.svg"/>
                            <label *ngIf="nodeOptions == 'graph'" class="node-label" style="color: white;">Graph</label>
                        </div>
                        <div (click)="changeNodeOptions('traffic')" class="node-options" [ngClass]="{'node-select': nodeOptions == 'traffic'}">
                            <img  src="assets/images/Traffic.svg"/>
                            <label *ngIf="nodeOptions == 'traffic'" class="node-label" style="color: white;">Traffic</label>
                        </div>
                    </div>
                  
                        <app-inventory *ngIf="nodeOptions == 'inventory'" [selectedNodeInventoryDetails]="tab.inventory"></app-inventory>
               
                   
                    <app-alarms  *ngIf="nodeOptions == 'alarms'"></app-alarms>
                </div>
            </div>
            </div>
        </ng-container>
       
    </div>
</div>
